@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "Shift Light";
    font-style: normal;
    font-weight: normal;
    src: url(OEBPS/next-reads-html/fonts/Shift-Light.otf)
    }
@font-face {
    font-family: "Shift Light";
    font-style: italic;
    font-weight: normal;
    src: url(OEBPS/next-reads-html/fonts/Shift-BoldItalic.otf)
    }
@font-face {
    font-family: "Fort-Book";
    src: url(OEBPS/next-reads-html/fonts/Fort-Book.otf)
    }
